@model IEnumerable<string>

@{
    ViewBag.Title = "Home Page";
}
<p>Databases</p>
<table>
@foreach (string database in ViewBag.Databases)
{
    <tr>
        <td>
            @Html.ActionLink(database, "View", new { database = database }, "Database");
        </td>
    </tr>
}
</table>