@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Collections</h2>
<table>
@foreach (string collection in ViewBag.Collections)
{
    <tr>
        <td>
            @Html.ActionLink(collection, "View", "Collection", new { database = ViewBag.database, collection = collection }, null)            
        </td>
    </tr>
}
</table>