@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Documents</h2>

<table>
@using MongoDB.Bson
@foreach (BsonDocument document in ViewBag.Documents)
{
   <tr><td>@document["_id"];</td></tr>
}
</table>
